<%- include("./partials/_header.ejs") %>

    <section class="send-message">
        <a href="/" class="send-message__btn">Go back to messages</a>
        <h1 class="send-message__title">Send Message</h1>
        <form class="form" action="/new" method="POST">
            <input type="text" class="form__input" name="user" required placeholder="Enter name">
            <input type="text" class="form__input" name="text" required placeholder="Enter message">
            <button class="form__btn">Send</button>
        </form>

       
    </section>

<%- include("./partials/_footer.ejs") %>
