<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/new">Send New Message</a>
    <% messages.forEach(message => { %>
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <time><%= message.added %></time>
    <%})%>
  </body>
</html>
